 
 <style>
       nav{
            font-size: 30px;
            position: relative;
            margin-left: 20px;
        }
        #nd{
            font-size: 50px;
        }
        nav div{
            
            position: absolute;
            top:10px;
            left:50px
        }
        #s{
            text-decoration: none;
            color:black;
            font-size: 20px;
            text-transform: uppercase;
            margin-left: 1100px;
            visibility: {{visib}};
        }
        #navmain{
            width: 101%;
            background-color: white;
            margin-left: -4px;
            margin-top: -6px;
        }
</style>
<div id="navmain">
<br>
 <nav style="display:flex">
    <i style="color:rgb(255,222,0)"" id="nd" class="fa-solid fa-file"></i>&nbsp;&nbsp;
    <div>Keep&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a id="s" href="/saveddata">Your saved work</a></div>
    <br>
    <br>
</div>
</nav>
